*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.center{
    margin:0 auto;
}
.shadow{
    
    box-shadow: 2px 0px 20px 5px rgba(112, 108, 83, 0.788);
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: flex-start;
    justify-content: space-around;
}

.hero{
    flex:1;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url(./assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;
    
}

.hero > p{
    font-size: small;
    color:rgb(126, 122, 122);
}
.hero > h1{
    font-family: "Kablammo", sans-serif;
    font-size: 40px;
    
    margin-top: 20%;
    width: 100%;
    color: rgb(163, 134, 39);
    padding:5% 42%;
    background-color: rgba(0, 0, 0, 0.158);
}
.hero >p >a{
    font-size: small;
    color:rgb(126, 122, 122);
}

.form{
    flex: 1.8;
    display: flex;
    height: 70%;
    flex-direction: column;
    align-self:center;
   
    justify-content: space-evenly;

}
.form >*{
    padding: 0 10%;
}
.form > .form-container{
    color: rgb(88, 90, 82);
    background-color: rgba(187, 174, 116, 0.479);
    height: max-content;
}
.form >button{
    background-color:rgb(153, 126, 59);
    width: fit-content;
    height: 7%;
    margin-left: 10%;
    border-radius: 5px;
    border:none;
    color: aliceblue;
    font-size: 17px;
}
.form > p >a{
    color: rgb(209,167,64);
}